*{
  font-family: "Arial"; 
}

.nav {
  margin: 0.5vh;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
  margin-bottom: 20px;
}

.nav a:link{
  color:white;
}

#highlight{
  font-style: italic;
  color: purple;

}

.nav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none !important;
  font-size: 17px;
}

.nav a:hover {
  background: #606ba0;
  color: white;
}
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
html,
body {
  margin: auto;
  padding: auto;
}

.wrap {
  display: flex;
  min-height: 100vh;
  align-items: flex-start;
}
.sticky1{
  position: sticky;
  top: 10vh;
  width: 18vw;
  margin-left: 5vw;
  margin-right: 2vw;
  border: 2vw ;
  padding: 2vw;
}
.sticky2{
  position: sticky;
  top: 10vh;
  width: 28vw;
  height: auto;
  margin-left: 2vw;
  margin-right: 2vw;
  border: 2vw ;
  padding-right: 1vw;
  color: #606ba0;
  background-color: #e8e8e8;
}

.main {
  width: 45vw;
  margin-top: 10vh;
  margin-left: 2vw;
  text-align: justify;
  text-justify: inter-word;
  font-size: 17px;
}

#dp{
  width: 11vw;
  border-radius: 100%;
}
#bold{
  font-weight: bold;
}
.name{
  font-size: 1.05vw;
}

a:link{
  text-decoration: none;
  color: blue;
}

a:hover{
  color: blue;
  text-decoration: underline;
}

h3{
  font-size: 1.2vw;
}
#year{
  float: right;
  font-weight: bold;
}

#degree{
  font-size: 18px;
  font-weight: bold;
  float: left;
  
}

hr{
  margin-top: 10vh ;
}

#section{
  float: left;
  clear: left;
  width: 100%;
}

#course{
  float: left;
  clear: right;
  width: 75%;
  
}

#emblem{
  width: 8vw;
  padding: 1vw;
  float: left;
}

#contact{
  float: left;
  clear: left;
}

ul {
  list-style: none;
}
span{
  margin-bottom: 1vw;
}

.section_head{
  margin-top: 3vh;
  margin-bottom: 3vh;
  float: left;
}

.highlights{
  color: blue;
}
#right_pane{
  float: right;
}
p{
  line-height: 1.6;
}

div.gallery {
  border: 1px solid #ccc;
}

div.gallery:hover {
  border: 2px solid #777;
}

div.gallery img {
  width: 100%;
  height: 35vh;
}

div.desc {
  padding: 15px;
  text-align: center;
}



* {
  box-sizing: border-box;
}

.responsive {
  padding-top: 1vh;
  padding: 1vw;
  float: left;
  width: 20vw;
  height: auto;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}


.clearfix:after {
  content: "";
  display: table;
  clear: both;
}